<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Juegos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <button ion-item *ngFor="let game of games" (click)="gamesTapped($event, game)">
    <!--  <ion-icon name="{{item.icon}}" item-left></ion-icon> -->
      {{game.title}}
   <!--   <div class="item-note" item-right>
         {{item.note}}
      </div>-->
    </button>
  </ion-list>
  <div *ngIf="selectedGame" padding>
    You navigated here from <b>{{selectedGame.title}}</b>
  </div>
</ion-content>
