hello-ionic-page {

  p {
    margin: 20px 0;
    line-height: 22px;
    font-size: 16px;
  }

}

.container {
    height: 300px; }

.numerologia {
    height: 300px;
    align-items: center;
    display: flex;
    justify-content: center;
    text-align: center;
}

.indice{
    height: 280px;
}

.textindice{
    vertical-align: middle;
}